<ion-header>
  <ion-toolbar color="danger">
    <ion-title>List of Candidates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="messageslist">
    <ion-segment-button value="male">
      <ion-label>Male</ion-label>
    </ion-segment-button>
    <ion-segment-button value="female">
      <ion-label>Female</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="messageslist">
    <ion-list *ngSwitchCase="'male'">

      <ion-item (click)="clickCandidate()">
        <ion-avatar slot="start">
          <img src="assets/images/1.jpg">
        </ion-avatar>
        <ion-label>
          <ion-badge color="danger">1</ion-badge>
          <h3>Name here</h3>
          
        </ion-label>
      </ion-item>
  
      <ion-item (click)="clickCandidate()">
        <ion-avatar slot="start">
          <img src="assets/images/2.jpg">
        </ion-avatar>
        <ion-label>
          <ion-badge color="danger">2</ion-badge>
          <h3>Name here</h3>
          
        </ion-label>
      </ion-item>
  
    </ion-list>

    <ion-list *ngSwitchCase="'female'">

      <ion-item (click)="clickCandidate()">
        <ion-avatar slot="start">
          <img src="assets/images/3.jpg">
        </ion-avatar>
        <ion-label>
          <ion-badge color="danger">3</ion-badge>
          <h3>Name here</h3>
          
        </ion-label>
      </ion-item>
  
      <ion-item (click)="clickCandidate()">
        <ion-avatar slot="start">
          <img src="assets/images/3.jpg">
        </ion-avatar>
        <ion-label>
          <ion-badge color="danger">4</ion-badge>
          <h3>Name here</h3>
          
        </ion-label>
      </ion-item>
  
    </ion-list>
  </div>
 
</ion-content>



<ion-footer>
  <ion-toolbar color="danger" class="ion-text-center">

    <ion-buttons slot="secondary">
      <ion-button (click)="clickBack()">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-footer>