<ion-header>
  <ion-toolbar color="danger">
    <ion-title>List of Candidates</ion-title>
    <ion-buttons slot="secondary">
     
      <ion-button (click)="clickLogout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="messageslist">
    <ion-segment-button value="male">
      <ion-label>Male</ion-label>
    </ion-segment-button>
    <ion-segment-button value="female">
      <ion-label>Female</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="messageslist">
    <ion-list *ngSwitchCase="'male'" >

      <div *ngFor="let candi of candidates" >
        <ion-item *ngIf="candi.gender == 'M'" (click)="clickCandidate(candi.id)">
          <ion-avatar slot="start">
            <img src="assets/images/1.jpg">
          </ion-avatar>
          <ion-label>
            <ion-badge color="danger">{{candi.id}}</ion-badge>
            <h3>{{candi.f_name}} {{candi.l_name}}</h3>
            
          </ion-label>
        </ion-item>
      </div>
  
    </ion-list>

    <ion-list *ngSwitchCase="'female'">

      <div *ngFor="let candi of candidates" >
        <ion-item *ngIf="candi.gender == 'F'"  (click)="clickCandidate(candi.id)">
          <ion-avatar slot="start">
            <img src="assets/images/1.jpg">
          </ion-avatar>
          <ion-label>
            <ion-badge color="danger">{{candi.id}}</ion-badge>
            <h3>{{candi.f_name}} {{candi.l_name}}</h3>
            
          </ion-label>
        </ion-item>
      </div>
  
    </ion-list>
  </div>
 
</ion-content>

