<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List of Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  
  <ion-list>

    <ion-item (click)="clickEvent()">
      <ion-avatar slot="start">
        <img src="assets/images/1.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Title</h3>
        <p>Description here ....</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="clickEvent()">
      <ion-avatar slot="start">
        <img src="assets/images/1.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Title</h3>
        <p>Description here ....</p>
      </ion-label>
    </ion-item>

  </ion-list>
  
 
</ion-content>
