<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
     
      <ion-button (click)="clickLogout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      List of Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  
  <ion-list *ngFor="let event of data">

    <ion-item  (click)="clickEvent(event.id)">
      <ion-avatar slot="start">
        <img src="assets/images/1.jpg">
      </ion-avatar>
      <ion-label>
        <h3>{{event.name}}</h3>
        <p>{{event.description}}</p>
      </ion-label>
    </ion-item>

    
  </ion-list>
  
 
</ion-content>

